<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dressing.asi.insarouen.fr.dressing">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/new_image_garde"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.utilisateur.ConnexionActivity"
            android:label="Dressing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.utilisateur.CreationActivity"
            android:label="Création compte utilisateur"/>
        <activity android:name=".activity.accueil.AccueilActivity"
            android:label="Accueil"/>
        <activity android:name=".activity.notice.NoticeActivity"
            android:label="Notice d'utilisation"/>
    </application>

</manifest>